<%= tag.div class: "row" do %>
  <div class="col-12 d-flex justify-content-between align-items-center px-3">
    <%== pagy_info(@pagy) %>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end unless @pagy.nil? %>