<% if product_quantity.zero? %>
  <span class="badge bg-danger">Out of Stock</span>
<% elsif !product_available? %>
  <span class="badge bg-info">Archived</span>
<% elsif product_quantity.positive? || product_available? %>
  <span class="badge bg-success">Active</span>
<% end %>
