<div class="table-responsive">
  <%= turbo_frame_tag "users" do %>
    <table class="table table-bordered">
      <thead class="" style="background-color: #eeeeee">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <%= render partial: "admin/users/user_row", locals: { user: user } %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>